<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <a class="nav-BR" href="#"><b>BR</b> Architects</a>
        <ul class="list-items">
          <li><a class="nav-link" href="#">Projects</a></li>
          <li><a class="nav-link" href="#">About</a></li>
          <li><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </nav>
      <img
        class="img-header"
        src="./assets/images/architect.jpg"
        alt="Architects"
      />
      <div class="BR-architects">
        <h1>
          <span class="br-name"><b>BR</b></span>
          <span class="architect-name">Architects</span>
        </h1>
      </div>
    </header>
    <section>
      <div class="projects-header">
        <h3>Projects</h3>
      </div>

      <div class="images-projects">
        <div class="image-item">
          <div class="image-container">
            <div class="overlay">Summer House</div>
            <img src="./assets/images/house5.jpg" alt="Summer House" />
          </div>
        </div>
        <div class="image-item">
          <div class="image-container">
            <div class="overlay">Brick House</div>
            <img src="./assets/images/house4.jpg" alt="Brick House" />
          </div>
        </div>
        <div class="image-item">
          <div class="image-container">
            <div class="overlay">Renovated</div>
            <img src="./assets/images/house3.jpg" alt="Renovated" />
          </div>
        </div>
        <div class="image-item">
          <div class="image-container">
            <div class="overlay">Barn Hause</div>
            <img src="./assets/images/house2.jpg" alt="Barn Hause" />
          </div>
        </div>
      </div>
      <div class="images-projects">
          <div class="image-item">
            <div class="image-container">
              <div class="overlay">Summer House</div>
              <img src="./assets/images/house4.jpg" alt="Summer House" />
            </div>
          </div>
          <div class="image-item">
            <div class="image-container">
              <div class="overlay">Brick House</div>
              <img src="./assets/images/house5.jpg" alt="Brick House" />
            </div>
          </div>
          <div class="image-item">
            <div class="image-container">
              <div class="overlay">Renovated</div>
              <img src="./assets/images/house2.jpg" alt="Renovated" />
            </div>
          </div>
          <div class="image-item">
            <div class="image-container">
              <div class="overlay">Barn Hause</div>
              <img src="./assets/images/house3.jpg" alt="Barn Hause" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <article class="article-content">
      <h3 class="about-title">About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
  </body>
</html>
