* {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
  --nav-height: 38px;
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  font-family: "Segoe UI", Arial, sans-serif;
}

button,
input {
  font: inherit;
  margin: 0;
}

.border-light-grey {
  border-bottom: 1px solid #f1f1f1;
}

.wide {
  letter-spacing: 4px;
}

header {
  max-width: 1500px;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}

.navigation {
  min-height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 8px 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-title {
  font-size: 36px;
}

b {
  font-weight: bolder;
}

.nav-BR,
.nav-link {
  display: inline-block;
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
  border: none;
}

.list-items {
  display: flex;
}

.img-header {
  width: 100%;
  height: auto;
}

.BR-architects {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

.br-name {
  background-color: black;
  padding: 8px 16px;
  color: white;
  opacity: 0.75;
}
.architect-name {
  color: #f1f1f1;
}

.title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0px;
  padding: 16px 0px;
}

main {
  margin: 0 auto;
  max-width: 1564px;
  padding: 0 16px;
}

.projects-header {
  padding: 32px 16px;
}

.images-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.image-item {
  padding: 0 8px;
  margin-bottom: 16px;
}

.image-container {
  position: relative;
}

.image-container > img {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
  padding: 8px 16px;
}

.article-content {
  padding: 32px 16px;
}

.about-title {
  border-bottom: 1px solid #ccc;
}

p {
  margin: 15px 0px;
}

.users-card {
  display: flex;
  padding: 0 8px;
  flex-wrap: wrap;
}

.user-details {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 16px;
}

.users-photo {
  width: 100%;
  height: auto;
  filter: grayscale(75%);
}

.title-card {
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-paragraph {
  opacity: 0.6;
}

.contact-button {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  font-size: 15px;
  font-family: inherit;
  padding: 8px 16px;
}

.contact-information {
  padding: 32px 16px;
}

.contact-form {
  display: block;
}

input {
  width: 100%;
}

.btn-send-message {
  display: inline-block;
  font-size: 15px;
  font-family: inherit;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 8px 16px;
  margin: 16px 0;
}

.name-info,
.data {
  display: block;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: inherit;
}
.data {
  margin-top: 16px;
  margin-bottom: 16px;
}
.image-section {
  padding: 0px 15px;
}

.image {
  max-width: 100%;
}

footer {
  padding: 16px 0px;
  background-color: black;
}

.footer-info {
  background-color: black;
  color: white;
  text-align: center;
  margin: 15px 0;
}
.footer-link {
  color: inherit;
}

a:hover,
.contact-button:hover,
.btn-send-message:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.footer-link:hover {
  color: green;
  background-color: #000;
}

@media (min-width: 993px) {
  .image-item,
  .user-details {
    width: 24.99999%;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .image-item,
  .user-details {
    width: 49.99999%;
  }
}

@media screen and (max-width: 600px) {
  .list-items,
  .architect-name {
    display: none;
  }
}
