* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #926239;
  line-height: 1.6;
  font-size: 17px;
  --main-bg-color: #926239;
}
* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
  padding: 0 top;
  padding-bottom: 0;
  line-height: 1.2;
}

header {
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-title {
  text-align: center;
  font-size: 20px;
}
.btn {
  text-decoration: none;
  border: 1px solid #926239;
  color: #926239;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
}

.first-section {
  background-color: var(--main-bg-color);
  text-align: center;
  color: #fff;
  padding: 20px;
}

.second-section {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

.third-section {
  display: flex;
  flex-wrap: nowrap;
}

.left-section,
.right-section {
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 20px;
}
.middle-section {
  background-color: #f9f9f9;
  padding: 20px;
}
